@use "@guebbit/css-ui/src/molecules/cards/SimpleCard" as card;

.theme-card {
  @extend %simple-card;

  --background: var(--card-background-color);
  --text-color: var(--card-text-color);
  --active-background: var(--card-background-active-color);
  --active-text-color: var(--card-text-active-color);

  width: 400px;
  //transition:
  //        color var(--transitions-time, 0.2s),
  //        background-color var(--transitions-time, 0.2s),
  //        border var(--transitions-time, 0.2s);
}