.theme-input {
  appearance: none;
  border: none;
  outline: none;
  color: var(--input-text-color);
  background: var(--input-background-color);
  font-size: 1.2em;
  padding: 0.5em 1em;
  border-bottom-style: solid;
  border-bottom-width: 0.2em;
  border-color: var(--input-border-color);
  border-radius: 0.2em 0.2em 0 0;
  transition:
          color var(--transitions-time, 0.2s),
          background-color var(--transitions-time, 0.2s),
          border var(--transitions-time, 0.2s);

  &:hover {
    color: var(--input-text-active-color);
    background: var(--input-background-active-color);
    border-color: var(--input-border-active-color);
  }
}
