.theme-page-title {
    position: relative;
    font-size: 3em;
    text-align: center;
    // color: inherit;
    padding-bottom: 0.2em;

    &.with-border {
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 500px;
            max-width: 80%;
            height: 5px;
            background-color: var(--title-border-color);
        }
    }
}
